Repository Bjornar97/Bachelor-Interaktivt-Kart, pull requests merged in 2019-03, with the labels that each got.

#47 Bunnmeny styling
  .DS_Store
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/fjellman.png
  KartApp/App_Resources/Android/src/main/res/drawable-ldpi/fjellman.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/fjellman.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/fjellman.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/fjellman.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/fjellman.png
  KartApp/App_Resources/Android/src/main/res/values/colors.xml
  KartApp/package-lock.json
  KartApp/package.json
  KartApp/src/app.css
  KartApp/src/app/account-page/account-page.component.css
  KartApp/src/app/account-page/account-page.component.html
  KartApp/src/app/account-page/account-page.component.ts
  KartApp/src/app/app.component.html
  KartApp/src/app/app.component.ts
  KartApp/src/fonts/Font-Awesome.ttf
  KartApp/src/fonts/fa-brands-400.ttf
  KartApp/src/fonts/fa-regular-400.ttf
  KartApp/src/fonts/fa-solid-900.ttf
Labels: Testet-Android, Testet-iOS

#51 Hjem siden
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/baseline_add_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/baseline_add_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/baseline_add_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/baseline_add_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/baseline_add_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/baseline_add_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/baseline_add_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/baseline_add_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/baseline_add_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/baseline_add_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/baseline_add_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/baseline_add_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/baseline_add_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/baseline_add_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/baseline_add_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/baseline_add_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/baseline_add_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/baseline_add_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/baseline_add_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/baseline_add_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable/baseline_add_24.xml
  KartApp/App_Resources/iOS/baseline_add_white_18pt.xcassets/baseline_add_white_18pt.imageset/Contents.json
  KartApp/App_Resources/iOS/baseline_add_white_18pt.xcassets/baseline_add_white_18pt.imageset/baseline_add_white_18pt_1x.png
  KartApp/App_Resources/iOS/baseline_add_white_18pt.xcassets/baseline_add_white_18pt.imageset/baseline_add_white_18pt_2x.png
  KartApp/App_Resources/iOS/baseline_add_white_18pt.xcassets/baseline_add_white_18pt.imageset/baseline_add_white_18pt_3x.png
  KartApp/App_Resources/iOS/baseline_add_white_24pt.xcassets/baseline_add_white_24pt.imageset/Contents.json
  KartApp/App_Resources/iOS/baseline_add_white_24pt.xcassets/baseline_add_white_24pt.imageset/baseline_add_white_24pt_1x.png
  KartApp/App_Resources/iOS/baseline_add_white_24pt.xcassets/baseline_add_white_24pt.imageset/baseline_add_white_24pt_2x.png
  KartApp/App_Resources/iOS/baseline_add_white_24pt.xcassets/baseline_add_white_24pt.imageset/baseline_add_white_24pt_3x.png
  KartApp/App_Resources/iOS/baseline_add_white_36pt.xcassets/baseline_add_white_36pt.imageset/Contents.json
  KartApp/App_Resources/iOS/baseline_add_white_36pt.xcassets/baseline_add_white_36pt.imageset/baseline_add_white_36pt_1x.png
  KartApp/App_Resources/iOS/baseline_add_white_36pt.xcassets/baseline_add_white_36pt.imageset/baseline_add_white_36pt_2x.png
  KartApp/App_Resources/iOS/baseline_add_white_36pt.xcassets/baseline_add_white_36pt.imageset/baseline_add_white_36pt_3x.png
  KartApp/App_Resources/iOS/baseline_add_white_48pt.xcassets/baseline_add_white_48pt.imageset/Contents.json
  KartApp/App_Resources/iOS/baseline_add_white_48pt.xcassets/baseline_add_white_48pt.imageset/baseline_add_white_48pt_1x.png
  KartApp/App_Resources/iOS/baseline_add_white_48pt.xcassets/baseline_add_white_48pt.imageset/baseline_add_white_48pt_2x.png
  KartApp/App_Resources/iOS/baseline_add_white_48pt.xcassets/baseline_add_white_48pt.imageset/baseline_add_white_48pt_3x.png
  KartApp/src/app/app.component.html
  KartApp/src/app/app.component.ts
  KartApp/src/app/home-page/current-trip-page/current-trip-page.component.css
  KartApp/src/app/home-page/current-trip-page/current-trip-page.component.html
  KartApp/src/app/home-page/current-trip-page/current-trip-page.component.ts
  KartApp/src/app/home-page/home-page-routing.module.ts
  KartApp/src/app/home-page/home-page.component.css
  KartApp/src/app/home-page/home-page.component.html
  KartApp/src/app/home-page/home-page.component.ts
  KartApp/src/app/home-page/trip-box/trip-box.component.css
  KartApp/src/app/home-page/trip-box/trip-box.component.html
  KartApp/src/app/home-page/trip-box/trip-box.component.ts
  KartApp/src/app/home-page/trip-page/trip-page.component.ts
  KartApp/src/app/home-page/trip.service.ts
  KartApp/src/app/location.ts
  KartApp/src/app/map/map.component.ts
  KartApp/src/app/tracker.ts
  KartApp/src/main.ts
  KartApp/times.html
Labels: Testet-Android

#53 App layout og styling
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/round_directions_walk_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/round_directions_walk_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/round_directions_walk_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/round_directions_walk_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/round_gps_fixed_black_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/round_gps_fixed_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/round_gps_fixed_black_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/round_gps_fixed_black_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/round_directions_walk_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/round_directions_walk_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/round_directions_walk_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/round_directions_walk_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/round_gps_fixed_black_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/round_gps_fixed_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/round_gps_fixed_black_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/round_gps_fixed_black_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/round_directions_walk_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/round_directions_walk_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/round_directions_walk_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/round_directions_walk_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/round_gps_fixed_black_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/round_gps_fixed_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/round_gps_fixed_black_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/round_gps_fixed_black_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/round_directions_walk_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/round_directions_walk_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/round_directions_walk_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/round_directions_walk_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/round_gps_fixed_black_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/round_gps_fixed_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/round_gps_fixed_black_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/round_gps_fixed_black_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/round_directions_walk_white_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/round_directions_walk_white_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/round_directions_walk_white_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/round_directions_walk_white_48.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/round_gps_fixed_black_18.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/round_gps_fixed_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/round_gps_fixed_black_36.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/round_gps_fixed_black_48.png
  KartApp/App_Resources/Android/src/main/res/drawable/round_directions_walk_24.xml
  KartApp/App_Resources/Android/src/main/res/drawable/round_gps_fixed_24.xml
  KartApp/src/app.css
  KartApp/src/app/app.component.html
  KartApp/src/app/app.module.ts
  KartApp/src/app/home-page/home-page.component.html
  KartApp/src/app/home-page/home-page.component.ts
Labels: Testet-Android

#58 Dra opp tingen
  KartApp/src/app.css
  KartApp/src/app/app.component.html
  KartApp/src/app/app.component.ts
  KartApp/src/app/home-page/current-trip-page/current-trip-page.component.ts
  KartApp/src/app/home-page/trip-box/trip-box.component.ts
  KartApp/src/app/home-page/trip-page/trip-page.component.ts
Labels: Testet-Android, Testet-iOS

#66 Innstillinger
  KartApp/package-lock.json
  KartApp/src/app/app.component.ts
  KartApp/src/app/map/map.component.ts
  KartApp/src/app/settings-page/settings.service.ts
Labels: Testet-Android

#69 iOS bug fix - background mode
  KartApp/App_Resources/iOS/Info.plist
  KartApp/src/app/settings-page/settings.service.ts
  KartApp/src/app/tracker.ts
Labels: Testet-iOS

#73 Hjem siden
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/image_marker_96.png
  KartApp/App_Resources/Android/src/main/res/drawable-ldpi/image_marker_96.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/image_marker_96.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/image_marker_96.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/image_marker_96.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/image_marker_96.png
  KartApp/App_Resources/iOS/image_marker_96.png
  KartApp/App_Resources/iOS/image_marker_96@2x.png
  KartApp/App_Resources/iOS/image_marker_96@3x.png
  KartApp/package.json
  KartApp/src/app.css
  KartApp/src/app/app-routing.module.ts
  KartApp/src/app/app.component.ts
  KartApp/src/app/globals.ts
  KartApp/src/app/home-page/current-trip-page/current-trip-page.component.ts
  KartApp/src/app/home-page/home-page.component.ts
  KartApp/src/app/home-page/image.service.ts
  KartApp/src/app/home-page/trip-box/trip-box.component.html
  KartApp/src/app/home-page/trip-box/trip-box.component.ts
  KartApp/src/app/home-page/trip-page/trip-page.component.ts
  KartApp/src/app/home-page/trip.service.ts
  KartApp/src/app/map/map.component.ts
  KartApp/src/app/map/marker.service.ts
  KartApp/src/app/marker-page/marker-page-routing.module.ts
  KartApp/src/app/marker-page/marker-page.component.css
  KartApp/src/app/marker-page/marker-page.component.html
  KartApp/src/app/marker-page/marker-page.component.ts
  KartApp/src/app/marker-page/marker-page.module.ts
  KartApp/src/app/settings-page/settings.service.ts
  KartApp/src/app/tracker.ts
Labels: Testet-Android

#76 Konto side
  .DS_Store
  KartApp/App_Resources/iOS/fjellman@1x.png
  KartApp/App_Resources/iOS/fjellman@2x.png
  KartApp/App_Resources/iOS/fjellman@3x.png
  KartApp/package.json
  KartApp/src/app/account-page/account-page.component.css
  KartApp/src/app/account-page/account-page.component.html
  KartApp/src/app/account-page/account-page.component.ts
Labels: Testet-iOS

#77 Dra opp tingen
  KartApp/src/app/app.component.html
  KartApp/src/app/app.component.ts
  KartApp/src/app/drawer.ts
  KartApp/src/app/globals.ts
  KartApp/src/app/home-page/home-page.component.html
  KartApp/src/app/home-page/home-page.component.ts
Labels: Testet-Android, Testet-iOS

#79 Innstillinger
  KartApp/App_Resources/Android/src/main/res/drawable-hdpi/baseline_chevron_right_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-mdpi/baseline_chevron_right_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xhdpi/baseline_chevron_right_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxhdpi/baseline_chevron_right_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable-xxxhdpi/baseline_chevron_right_black_24.png
  KartApp/App_Resources/Android/src/main/res/drawable/baseline_chevron_right_24.xml
  KartApp/App_Resources/iOS/baseline_chevron_right_black_24@1x.png
  KartApp/App_Resources/iOS/baseline_chevron_right_black_24@2x.png
  KartApp/App_Resources/iOS/baseline_chevron_right_black_24@3x.png
  KartApp/package.json
  KartApp/src/app/account-page/account-page.component.css
  KartApp/src/app/account-page/account-page.component.ts
  KartApp/src/app/app.component.html
  KartApp/src/app/map/map.component.ts
  KartApp/src/app/settings-page/map-menu/map-menu.component.css
  KartApp/src/app/settings-page/map-menu/map-menu.component.html
  KartApp/src/app/settings-page/map-menu/map-menu.component.ts
  KartApp/src/app/settings-page/settings-page.component.css
  KartApp/src/app/settings-page/settings-page.component.html
  KartApp/src/app/settings-page/settings-page.component.ts
  KartApp/src/app/settings-page/settings-page.module.ts
  KartApp/src/app/settings-page/settings.service.ts
  KartApp/times.html
Labels: Testet-Android, Testet-iOS

#86 Hjem siden
  KartApp/App_Resources/Android/src/main/AndroidManifest.xml
  KartApp/App_Resources/iOS/Info.plist
  KartApp/package-lock.json
  KartApp/package.json
  KartApp/src/app.css
  KartApp/src/app/app.component.html
  KartApp/src/app/app.component.ts
  KartApp/src/app/globals.ts
  KartApp/src/app/home-page/current-trip-page/current-trip-page.component.html
  KartApp/src/app/home-page/current-trip-page/current-trip-page.component.ts
  KartApp/src/app/home-page/home-page.component.css
  KartApp/src/app/home-page/home-page.component.html
  KartApp/src/app/home-page/home-page.component.ts
  KartApp/src/app/home-page/home-page.module.ts
  KartApp/src/app/home-page/image.service.ts
  KartApp/src/app/home-page/trip-box/trip-box.component.css
  KartApp/src/app/home-page/trip-box/trip-box.component.html
  KartApp/src/app/home-page/trip-box/trip-box.component.ts
  KartApp/src/app/home-page/trip-page/trip-page.component.ts
  KartApp/src/app/home-page/trip.service.ts
  KartApp/src/app/location.ts
  KartApp/src/app/map/map.component.ts
  KartApp/src/app/settings-page/settings.service.ts
  KartApp/src/app/tracker.ts
Labels: Testet-iOS
